//  FONTS
//  Governs font classes and fetches non-local font resources

@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
//  @import url(http://fonts.googleapis.com/css?family=Merriweather);
//  @import url(http://fonts.googleapis.com/css?family=Nova+Cut);
//  @import url(http://fonts.googleapis.com/css?family=Nova+Flat);
//  @import url(http://fonts.googleapis.com/css?family=Nova+Mono);
//  @import url(http://fonts.googleapis.com/css?family=Nova+Oval);
//  @import url(http://fonts.googleapis.com/css?family=Nova+Round);
//  @import url(http://fonts.googleapis.com/css?family=Nova+Script);
//  @import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
//  @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

//  Some of my compilers STILL don't do @each very well
@mixin font($class, $name, $file, $cap)
{
    @font-face
    {
        font-family:    #{$name};
        src:            url('/resources/fonts/#{$file}.ttf');
    }
    .#{$class}
    {
        font-family:    #{$name};
        @if ($cap == true)
        {
            text-transform: uppercase;
        }
    }
}
@include font(dunmeris,             Dunmeris,               Daedric-Plain,          false);
@include font(dunmeris-worn,        Dunmeris-Worn,          Daedric-Plain-Eroded,   false);
@include font(dunmeris-script,      Dunmeris-Script,        Daedric-Script,         false);
@include font(dunmeris-script-worn, Dunmeris-Script-Worn,   Daedric-Script-Eroded,  false);
.dunmeris-cyber { font-family: 'Cyberpunk Daedric'; text-transform: uppercase; }
@include font(dovah,                Dovah,                  Dovah,                  true);
.dwemeris { font-family: Dwemer; }
@include font(falmeris,             Falmeris,               Falmer,                 true);
.inconsolata { font-family: 'Inconsolata-dz', 'Inconsolata'; }
@include font(magnus,               Magnus,                  Mage,                  true);
@include font(planewalker,          Planewalker,            Planewalker,            false);
.roboto { font-family: 'Roboto'; }
@include font(sb-gaelic,            Skyrim-Books-Gaelic,    Skyrim-Books-Gaelic,    false);
@include font(sb-hand,              Skyrim-Books-Hand,      Skyrim-Books-Hand,      false);
@include font(sb-illegible,         Skyrim-Books-Illegible, Skyrim-Books-Illegible, false);
@include font(sr-sym,               Skyrim-Symbols,         Skyrim-Books-Symbols,   false);
