/*  === myrrlyn.scss ===
 *  Custom site styles
 *  Written by myrrlyn
 *  Powered by WebEssentials
 */

//  Imports
@import "variables";
@import "mixins";
@import "pseudos";
@import "fonts";
@import "bugs";

//  FORMATTING STYLES
.uppercase
{
    text-transform: uppercase;
}

//  STRUCTURAL STYLES

html
{
    @extend %style-reset;
    @extend %box-sizing;
}

body
{
    @extend %style-reset;
    background:
    {
        color: $white-dk;
    }
    font:
    {
        family: $fonts-sans;
        size:   $font-base;
    }
}

//  Banner Image
header
{
    background:
    {
        image: $banner-dusk;
        position:
        {
            x: center;
            y: center;
        }
        repeat: no-repeat;
        size:   cover;
    }
    height: $banner-height-lg;
}

//  Bootstrap requires overrides
nav.navbar.navbar-default
{
    background:
    {
        color:  $grey-33;
    }
    border:
    {
        color:  $grey-25;
        radius: 0;
        style:  solid;
        width:  1px;
    }
    a.myrr-page-loader
    {

    }
    //  Mobile-only expander button
    button
    {
        background:
        {
            color: grey(40%);
        }
        border:
        {
            color:  $grey-75;
            radius: 6px !important;
            style:  solid;
            width:  1px;
        }
        span.icon-bar
        {
            background:
            {
                color: $grey-75 !important;
            }
        }
        &:active,
        &:hover
        {
            background:
            {
                color: $white-dk !important;
            }
            border:
            {
                color: $grey-33 !important;
            }
            span.icon-bar
            {
                background:
                {
                    color: $grey-33 !important;
                }
            }
        }
    }
    a.myrr-doc-loader
    {
        color: $white-dk !important;
        font:
        {
            family: $fonts-mono;
        }
    }
    ul.nav.navbar-nav
    {
        li
        {
            a
            {
                &:hover
                {
                    background:
                    {
                        color: $grey-50 !important;
                    }
                }
            }
        }
    }
}

div#myrr-content-wrapper
{
}
div#myrr-fakebar
{
    background:
    {
        image: url(/resources/images/dark-bg.png);
    }
    @media screen and (min-width: 992px)
    {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    z-index: -50;
}
div#myrr-aside-wrapper
{
    @media screen and (max-width: 991px)
    {
        background:
        {
            image: url(/resources/images/dark-bg.png);
        }
        margin-top:    -20px;
        padding:
        {
            top:    10px;
            bottom: 10px;
        }
    }
    color: $white-dk;
    aside
    {
        div.image-wrap
        {
            background:
            {
                color:  transparent;
            }
            margin:
            {
                top:    0;
                left:   auto;
                right:  auto;
                bottom: 1.25em;
            }
            width:  $avatar-dim;
            a.image-box
            {
                img
                {
                    &.avatar
                    {
                        border:
                        {
                            color:  $grn;
                            radius: 33px;
                            style:  solid;
                            width:  5px;
                        }
                    }
                    height: $avatar-dim;
                    width:  $avatar-dim;
                }
            }
        }
        //  Fonts page
        &.fonts
        {
            p.warning
            {
                color: $grn-lt;
            }
            dl
            {
                background:
                {
                    color: $grey-66;
                }
                border:
                {
                    //collapse:   collapse;
                    color:  $grey-25;
                    radius: 0;
                    style:  solid;
                    width:  3px;
                }
                margin:
                {
                    left:  auto;
                    right: auto;
                }
                text:
                {
                    align: center;
                }
                dt
                {
                    border:
                    {
                        color: $grey-25;
                        width: 2px;
                    }
                    display: block;
                    width:   100%;
                    &:active,
                    &:hover
                    {
                        background:
                        {
                            color: $grey-25;
                        }
                        color: $white-dk;
                    }
                    &.parent
                    {
                        cursor: default;
                    }
                }
                dd
                {
                    cursor:  pointer;
                    display: none;
                }
            }
        }
        //  Oeuvre Index
        &.oeuvre
        {
            //  Category lists
            h2.category
            {
                cursor: default;
                &::after
                {
                    cursor: pointer;
                    font:
                    {
                        family: $fonts-mono;
                        size:   50%;
                    }
                    vertical-align: middle;
                }
                &.closed
                {
                    &::after
                    {
                        content: '[+]';
                    }
                }
                &.open
                {
                    &::after
                    {
                        content: '[-]';
                    }
                }
            }
            ol
            {
                display: none;
            }
            //  Titles
            span.title
            {
                font:
                {
                    style: italic;
                }
            }
        }
    }
}
div#myrr-article-wrapper
{
    article
    {
        &.fonts
        {
            table
            {
                margin:
                {
                    left: auto;
                    right: auto;
                }

                thead
                {
                    th
                    {
                        padding:
                        {
                            left: 0.25em;
                            right: 0.25em;
                        }
                    }
                }

                tbody
                {
                    tr
                    {
                        td
                        {
                            text:
                            {
                                align: center;
                            }
                        }
                    }
                }
            }
        }
        &.oeuvre
        {
            font:
            {
                family: $fonts-serif;
            }
            margin:
            {
                left: auto;
                right: auto;
            }
            max-width: 60em;
            h1.title
            {
                font:
                {
                    size:    3.33em;
                    variant: small-caps;
                }
                text:
                {
                    align: center;
                }
            }
            h2.subtitle
            {
                font:
                {
                    size:    2.0em;
                    variant: small-caps;
                }
                text:
                {
                    align: center;
                }
            }
            //  The main text body
            section
            {
                h1
                {
                    padding:
                    {
                        top:    2px;
                        left:   0.25em;
                        bottom: 2px;
                    }
                }
                h2
                {
                    margin:
                    {
                        top:  10px;
                        left: 0.25em;
                    }
                    padding:
                    {
                        top:    2px;
                        left:   0.25em;
                        bottom: 2px;
                    }
                }
            }
            //  Themes
            &.story
            {
                section
                {
                    h1
                    {
                        background:
                        {
                            color: hsla(014.60, 65.50%, 43.10%, 1.00);
                        }
                        color: $white-dk;
                    }
                    h2
                    {
                        background:
                        {
                            color: hsla(012.00, 80.00%, 90.20%,1.00);
                        }
                    }
                    blockquote
                    {
                        background:
                        {
                            color: fadeOut($grey-25, 0.75);
                        }
                        margin:
                        {
                            bottom: 0;
                        }
                        padding:
                        {
                            bottom: 10px;
                        }
                        @mixin bqborder($side)
                        {
                            border:
                            {
                                #{$side}-color: $grey-25;
                                #{$side}-style: solid;
                                #{$side}-width: 6px;
                            }
                        }
                        &.left
                        {
                            @include bqborder("left");
                        }
                        &.right
                        {
                            @include bqborder("right");
                        }
                    }
                    img#squish
                    {
                        float: right;
                        width: 25%;
                    }
                    p
                    {
                        &.journal
                        {
                            font:
                            {
                                style: italic;
                            }
                        }
                        &.datestamp
                        {
                            text:
                            {
                                align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer
{
}
